<configuration>
    <property>
        <name>yarn.resourcemanager.hostname</name>
        <value>{{yarn_master_node}}</value>
        <description>The hostname of the ResourceManager</description>
    </property>
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>
</configuration>
